.post {
  padding: 5px 15px;
  border-radius: 5px;
}

.post > a {
  text-decoration: none;
  color: #ebdbb2;
}

.post:hover {
  background-color: #3c3836;
}

.details {
  display: flex;
  justify-content: space-between;
}
